@{
    ViewData["Title"] = "Index";
    Layout = null;
}


<!-- Toastr -->
<!--<link rel="stylesheet" href="~/css/toastr/toastr.min.css">-->
<!-- Toastr -->
<!--<script src="/js/toastr/toastr.js"></script>
<script src="/js/toastr/toastr.min.js"></script>-->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS [ REQUIRED ] -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <title>Gran Central | Login</title>
</head>
<body>

    <section class="min-vh-100" style="background-image: linear-gradient(to left top, #3cd4c8, #00c6da, #00b5ea, #00a1f3, #0089ef, #4479e4, #6267d6, #7854c4, #8b49b2, #973fa0, #9f378d, #a2307b);">
        <div class="container py-5 h-50">
            <div class="row d-flex justify-content-center align-items-center h-50">
                <div class="col col-xl-10">
                    <div class="card border-5" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">


                                <img class="border-5" style="border-radius:15px;" src="~/login/images/blueCity.gif" alt="MyGIF" height="800" width="400">


                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form asp-controller="Login" asp-action="Recover">

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <img src="~/login/images/RegañadaLogo.png" alt="GranCentral LOGO" height="125" width="450" />
                                        </div>


                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;"><strong>Restablecer Contrasena</strong></h5>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Usuario :</label>
                                            <input type="text" id="form2Example17" name="user" class="form-control form-control-lg" value="@ViewBag.user" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example27">Contraseña :</label>
                                            <input type="password" id="form2Example27" name="contrasena" class="form-control form-control-lg" value="@ViewBag.contrasena" />
                                        </div>
                                        <div class="alert alert-danger" style="color:red">@Html.ValidationMessage("Validacion1")</div>
                                        <a href="/Login">Iniciar Sesion</a>
                                        <div class="align-items-center pt-1 mb-4">
                                            <button class="btn btn-outline-dark btn-lg btn-block" style="font-family: Arial, Helvetica, sans-serif" type="submit">Cambiar contrasena</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>