@model Terminal.WebUI.Models.CargosViewModel
<!-- Modal -->
<div class="modal fade" id="_Modal_Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form method="post" asp-controller="Cargo" asp-action="Update" id="formEdit">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" >
                <div class="modal-header" style="background-image: linear-gradient(to right, #A4F6FA, #9CB0D7 ,#4EBBC0 ) ">
                    <div class="col-2"></div>
                    <div class="col-6 text-center"><h3 class="modal-title text-black" id="exampleModalLongTitle">Editar Cargo</h3></div>
                    <div class="col-2"></div>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input type="hidden" asp-for="carg_ID" id="carg_ID_Edit" />
                                <strong><label asp-for="carg_Nombre" class="control-label text-dark"></label></strong>
                                <input asp-for="carg_Nombre" id="carg_Nombre_Edit" class="form-control text-dark" style="border-color: darkgray; border-width: 1px;" />
                                <strong><span name="lbl_carg_Nombre_EditError" id="lbl_carg_Nombre_EditError" class="control-label text-danger" hidden>Campo 'Cargo' requerido</span></strong>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-5"><button type="button" onclick="GuardarModalEdit()" class="btn btn-primary">Guardar</button></div>
                        <div class="col-4"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $(".Editar").on('click', function () {
        var carg_Nombre_Edit = $(this).data("nombre");
        var carg_ID_Edit = $(this).data("id");

        $("#lbl_carg_Nombre_EditError").attr('hidden', true);

        $("#carg_ID_Edit").val(carg_ID_Edit);
        $("#carg_Nombre_Edit").val(carg_Nombre_Edit);

        $("#_Modal_Edit").appendTo('body').modal('show');
    });
</script>


<script>
    function GuardarModalEdit() {
        var x = true;

        if ($("#carg_Nombre_Edit").val() == null || $("#carg_Nombre_Edit").val() == "") {
            x = false;
            $("#lbl_carg_Nombre_EditError").attr('hidden', false);
        } else {
            $("#lbl_carg_Nombre_EditError").attr('hidden', true);
            $("#formEdit").submit();
        }
    };

</script>