@{
    ViewData["Title"] = "Home Page";
}




<div class="card border-5">
    <div class="card-header">
        <div class="text-center mt-5">
            <h1 style="font-family: Cooper; color: indigo; font-size: xx-large;" class="display-4">Bienvenido(a) de nuevo: </h1>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <img src="~/login/images/RegañadaLogo.png" alt="GranCentral LOGO2" width="600" height="175" style="margin-right:10px;"/>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6">

                        <div class="card border-5 border-secondary">
                            <div class="card-header bg-secondary text-center">
                                <h1 class="text-white">Departamentos más visitados :</h1>
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <canvas id="grafica" width="700" height="1000"></canvas>
                                </div>
                                <div class="row">

                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="card border-4 border-info">
                            <div class="card-header bg-info text-center">
                                <h1 class="text-white">Sexo que más viaja :</h1>
                            </div>
                            <div class="card-body">
                                <canvas id="graficapai"></canvas>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="~/js/GraficaViajes.js"></script>
<script src="~/js/Pai.js"></script>
<script>
    $(document).ready(function () {
        $("#menuTerminal").addClass('show');
        $("#SubMenuTerminal").addClass('active');
    });
</script>


