@model Terminal.WebUI.Models.BoletosViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <form asp-action="Create" id="formCrear">
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header">
                                <div class="row"><h1>Boletos</h1></div>
                            </div>
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card">
                                    <div class="card-header text-center bg-yellow-200">
                                        <div class="row">
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4" style="margin-top: 10px">
                                                <h1 style="font-family: Cooper; color: black">Nuevo boleto</h1>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-end">
                                                    @*<img src="https://i.gifer.com/3sf.gif" style="border-radius:100px;border:3px solid black; width:50%">*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="term_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;" />
                                                    <strong><span asp-validation-for="term_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="comp_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="comp_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;"/>
                                                    <strong><span asp-validation-for="comp_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="empl_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="empl_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;"/>
                                                    <strong><span asp-validation-for="empl_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="clie_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="clie_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;"/>
                                                    <strong><span asp-validation-for="clie_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="hora_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="hora_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;"/>
                                                    <strong><span asp-validation-for="hora_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="pago_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="pago_ID" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;"/>
                                                    <strong><span asp-validation-for="pago_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer bg-yellow-200">
                                        <div class="row">
                                            <div class="col-8"></div>
                                            <div class="col-2">
                                                <input type="submit" value="Confirmar Envio" class="btn btn-secondary" />
                                            </div>
                                            <div class="col-2">
                                                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

