@model Terminal.WebUI.Models.HorariosViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <form asp-action="Create" id="formCrear">
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header text-center" style="background-image: linear-gradient(to right, #A4F6FA,#9CB0D7 ,#4EBBC0 ) ">
                                <div class="row">
                                    <div class="col-4">

                                    </div>
                                    <div class="col-4" style="margin-top: 10px">
                                        <h1 style="font-family: Cooper;" class="text-black">Nuevo horario</h1>
                                    </div>
                                    <div class="col-4">
                                        <div class="text-end">
                                            @*<img src="https://i.gifer.com/3sf.gif" style="border-radius:100px;border:3px solid black; width:50%">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card">

                                    <div class="card-body">
                                        <div class="row">

                                            <div class="form-group col-6">
                                                <strong><label asp-for="hora_Salida" class="control-label text-dark"></label></strong>
                                                <input asp-for="hora_Salida" class="form-control text-dark" style="border-color: darkgray; border-width: 1px;"/>
                                                <strong>
                                                    <span asp-validation-for="hora_Salida" class="text-danger"></span>
                                                </strong>
                                            </div>

                                            <div class="form-group col-6">
                                                <strong><label asp-for="hora_Llegada" class="control-label text-dark"></label></strong>
                                                <input asp-for="hora_Llegada" class="form-control text-dark" style="border-color: darkgray; border-width: 1px;"/>
                                                <strong><span asp-validation-for="hora_Llegada" class="text-danger"></span></strong>
                                            </div>

                                            <div class="form-group col-6 mt-3">
                                                <strong><label asp-for="hora_Origen" class="control-label text-dark"></label></strong>
                                                <select class="form-control form-select  text-dark" asp-for="hora_Origen" asp-items="ViewBag.departamento" style="border-color: darkgray; border-width: 1px;">
                                                    <option value="">--Seleccione una opcion--</option></select>
                                                <strong><span asp-validation-for="hora_Origen" class="text-danger"></span></strong>
                                            </div>


                                            <div class="form-group col-6 mt-3">
                                                <strong><label asp-for="hora_Destino" class="control-label text-dark"></label></strong>
                                                <select class="form-control form-select  text-dark" asp-for="hora_Destino" asp-items="ViewBag.departamento" style="border-color: darkgray; border-width: 1px;">
                                                    <option value="">--Seleccione una opcion--</option>
                                                </select>
                                                <strong><span asp-validation-for="hora_Destino" class="text-danger"></span></strong>
                                                <strong><span name="lbl_Viaje_CreateError" id="lbl_Viaje_CreateError" class="control-label text-danger" hidden>El Destino tiene que ser diferente al origen</span></strong>
                                            </div>
                                            <div class="form-group col-6 mt-3">
                                                <strong><label asp-for="hora_CantidadPasajerosMax" class="control-label text-dark"></label></strong>
                                                <input asp-for="hora_CantidadPasajerosMax" class="form-control text-dark" style="border-color: darkgray; border-width: 1px;"/>
                                                <strong><span asp-validation-for="hora_CantidadPasajerosMax" class="text-danger"></span></strong>
                                            </div>
                                            <div class="form-group col-6 mt-3">
                                                <strong><label asp-for="hora_Precio" class="control-label text-dark"></label></strong>
                                                <input asp-for="hora_Precio" class="form-control text-dark" style="border-color: darkgray; border-width: 1px;"/>
                                                <strong><span asp-validation-for="hora_Precio" class="text-danger"></span></strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-9"></div>
                                            <div class="col-3 text-center">
                                                <input onclick="Create()" value="Guardar" class="btn btn-primary" /> |
                                                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.Script != null)
{
    <script>
        $(document).ready(function () {
            @Html.Raw(ViewBag.Script)
        })
    </script>

    ViewBag.Script = null;
}

<script>
    function Create() {
        var hora_Origen = $("#hora_Origen").val();
        var hora_Destino = $("#hora_Destino").val();
        if (hora_Origen == hora_Destino) {
            $("#lbl_Viaje_CreateError").attr('hidden', false);
        } else {
            $("#formCrear").submit();
        }
    }
 
</script>