@model Terminal.WebUI.Models.TerminalesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <form asp-action="Update" id="formEditar">
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header">
                                <div class="row"><h1>Terminales</h1></div>
                            </div>
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card">
                                    <div class="card-header text-center bg-indigo-500">
                                        <div class="row">
                                            <div class="col-4">
                                            </div>
                                            <div class="col-4" style="margin-top: 10px">
                                                <h1 style="font-family: Cooper; color: azure">Editar Registro</h1>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-end">
                                                    @*<img src="https://i.gifer.com/3sf.gif" style="border-radius:100px;border:3px solid black; width:50%">*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="form-group">
                                                <input asp-for="term_ID" type="hidden" class="form-control" />
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="dept_ID" class="control-label text-dark"></label></strong>
                                                    <select asp-for="dept_ID" id="dept_ID" class="form-control" asp-items="ViewBag.dept_Id">
                                                        <option value=""> -- Seleccione un Departamento -- </option>
                                                    </select>
                                                    <strong><span class="text-danger">@Html.ValidationMessage("ValidacionDepartamento") </span></strong>

                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="muni_ID" class="control-label text-dark"></label></strong>
                                                    @*<input asp-for="muni_ID" class="form-control" hidden="hidden"/>*@
                                                    <select asp-for="muni_ID" class="form-control" asp-items="ViewBag.muni_ID"></select>
                                                    <strong><span asp-validation-for="muni_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_Nombre" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="term_Nombre" class="form-control" />
                                                    <strong><span asp-validation-for="term_Nombre" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_DireccionExacta" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="term_DireccionExacta" class="form-control" />
                                                    <strong><span asp-validation-for="term_DireccionExacta" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_CantidadTransportes" class="control-label text-dark"></label></strong>                                                    
                                                    <input asp-for="term_CantidadTransportes" class="form-control" />
                                                    <strong><span asp-validation-for="term_CantidadTransportes" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer bg-indigo-500">
                                        <div class="row">
                                            <div class="col-8"></div>
                                            <div class="col-2">
                                                <input type="submit" value="Confirmar Envio" class="btn btn-outline-success" />
                                            </div>
                                            <div class="col-2">
                                                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $("#muni_ID").prop("disabled", true);

        $("#dept_ID").change(function () {
            console.log("si cambio");
            var departamentoId = $("#dept_ID").val();
            $.getJSON('/Terminal/CargarMunicipios', { id: departamentoId })

                .done(function (municipios) {

                    $("#muni_ID").prop("disabled", false);
                    var municipiosSelect = $('#muni_ID');
                    municipiosSelect.empty();

                    municipiosSelect.append($('<option>', {
                        value: '',
                        text: '--Selecciona un municipio--'
                    }));

                    $.each(municipios, function (index, item) {
                        municipiosSelect.append($('<option>', {
                            value: item.muni_ID,
                            text: item.muni_Descripcion
                        }));
                        console.log(item.muni_ID)
                    });

                })

                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                });

        });
    });

</script>

