@model Terminal.WebUI.Models.TerminalesViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <form asp-action="Create" id="formCrear">
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header text-center bg-cyan-400">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <strong><span style="font-family: Cooper; color: indigo; font-size: xx-large;">Terminales</span></strong>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card">
                                    <!--<div class="card-header text-center bg-cyan-400">
                                        <div class="row">
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4" style="margin-top: 10px">
                                                <strong><span style="font-family: Cooper; color: black; font-size: xx-large;">Editar terminal</span></strong>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-end">-->
                                                    @*<img src="https://i.gifer.com/3sf.gif" style="border-radius:100px;border:3px solid black; width:50%">*@
                                                <!--</div>
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input asp-for="term_ID" type="hidden" class="form-control" />
                                                </div>
                                                <div class="form-group">
                                                    <strong><label asp-for="dept_ID" class="control-label text-dark" style="font-size:  larger;"></label></strong>
                                                    <select asp-for="dept_ID" id="dept_ID" class="form-control" asp-items="ViewBag.dept_Id" style="border-color: #1C1F3B; color: #000000;">
                                                        <option value=""> -- Seleccione un Departamento -- </option>
                                                    </select>
                                                    <strong><span class="text-danger">@Html.ValidationMessage("ValidacionDepartamento") </span></strong>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="muni_ID" class="control-label text-dark" style="font-size:  larger;"></label></strong>
                                                    <select asp-for="muni_ID" class="form-control" asp-items="ViewBag.muni_ID" style="border-color: #1C1F3B; color: #000000;"></select>
                                                    <strong><span asp-validation-for="muni_ID" class="text-danger"></span></strong>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_Nombre" class="control-label text-dark" style="font-size:  larger;"></label></strong>
                                                    <input asp-for="term_Nombre" class="form-control" style="border-color: #1C1F3B; color: #000000;"/>
                                                    <strong><span asp-validation-for="term_Nombre" class="text-danger"></span></strong>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_DireccionExacta" class="control-label text-dark" style="font-size:  larger;"></label></strong>
                                                    <input asp-for="term_DireccionExacta" class="form-control" style="border-color: #1C1F3B; color: #000000;"/>
                                                    <strong><span asp-validation-for="term_DireccionExacta" class="text-danger"></span></strong>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_CantidadTransportes" class="control-label text-dark" style="font-size:  larger;"></label></strong>
                                                    <input asp-for="term_CantidadTransportes" class="form-control" style="border-color: #1C1F3B; color: #000000;"/>
                                                    <strong><span asp-validation-for="term_CantidadTransportes" class="text-danger"></span></strong>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-8"></div>
                                            <div class="col-2">
                                                <input type="submit" value="Confirmar Envio" class="btn btn-outline-success" />
                                            </div>
                                            <div class="col-2">
                                                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {


        // Toma los elementos del DOM
        var departamentoSelect = $('#dept_ID');
        var municipioSelect = $('#muni_ID');
        var Validacion = $("#validar");

        // Deshabilita el select de municipios al inicio
        municipioSelect.prop('disabled', true);
        Validacion.hide();

        // Agrega un comentario explicando la función
        // que se ejecuta cuando se cambia el departamento
        departamentoSelect.change(function () {
            console.log('Departamento cambiado');
            var departamentoId = departamentoSelect.val();

            // Usa $.ajax en lugar de $.getJSON para manejar errores más fácilmente
            $.ajax({
                url: '/Terminal/CargarMunicipios',
                data: { id: departamentoId },
                dataType: 'json',
                success: function (municipios) {
                    // Habilita el select de municipios
                    municipioSelect.prop('disabled', false);

                    // Limpia el select de municipios
                    municipioSelect.empty();

                    // Agrega un valor predeterminado a la lista de opciones
                    municipioSelect.append($('<option>', {
                        value: '',
                        text: '--Selecciona un municipio--'
                    }));

                    // Agrega las opciones de municipios
                    $.each(municipios, function (index, municipio) {
                        municipioSelect.append($('<option>', {
                            value: municipio.muni_ID,
                            text: municipio.muni_Descripcion
                        }));
                        console.log(municipio.muni_ID);
                    });

                    if (departamentoSelect.val() === "0") {

                        var muni_ddl = $("#muni_ID").val();
                        muni_ddl = "";
                        Validacion.show();

                        console.log("Entro");

                    } else {
                        Validacion.hide();
                        console.log(departamentoSelect.val());
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                }
            });
        });

    });

</script>

